.detailPage {
  padding: 0 40px;
  width: 100%;
  align-items: center;
}
.detailPage__div {
  display: grid;
  align-items: center;
  justify-items: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}
.div__container {
  display: grid;
  width: 100%;
  margin: 10px 0 20px 0;
  justify-items: center;
}
@media (min-width: 1024px) {
  .div__container {
    display: flex;
  }
}
.detail__img {
  height: 200px;
  weight: 200px;
  padding: 10px;
  display: grid;
  justify-items: center;
}

@media (min-width: 640px) {
  .detail__img {
    height: 450px;
    weight: 450px;
  }
}
.div__info {
  display: grid;
  justify-items: center;
  width: 100%;
}

@media (min-width: 1024px) {
  .div__info > h3 {
    margin: 0;
    height: 0;
  }
  .detailPage::after {
    content: '';
    position: absolute;
    top: 90px;
    right: 0;
    width: 250px;
    height: 250px;
    background-image: url('/pokeball.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
  }
}
.moves {
  display: grid;
  width: 100%;
  margin: 0;
  justify-items: center;
  font-size:18px;
  padding: 10px 15px;
}
.moves > h4 {
  font-size: 25px;
}
.moves > p {
  font-size: 18px;
}
.moves__list {
  display: flex;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
}
