.selectedComponent {
  display: grid;
  margin: 10px 0;
  font-size: 18px;
  width: 100%;
  align-items: center;
}
.selectedComponent > label {
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.selectedComponent > select {
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}
