.detail__type {
  color: #fff;
  text-transform: capitalize;
  display: grid;
  gap: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.type__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  height: 30px;
  color: #fff;
  text-transform: capitalize;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.div__description {
  justify-content: center;
  align-items: center;
}
.div__description > h4 {
  font-size: 20px;
}
.types {
  padding: 5px 10px;
  margin: 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.description__type {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(69px, 1fr));

  gap: 10px;
}
