
.div__button > button:nth-child(1) {
  background-color: #1da1f2;
  transition: all 0.5s ease;
}
.div__button > button:nth-child(1):hover {
  background-color: #fff;
  color: #1da1f2;
}
.div__button > button:nth-child(2) {
  background-color: #fff;
  color: #1da1f2;
  transition: all 0.5s ease;
}
.div__button > button:nth-child(2):hover {
  background-color: #1da1f2;
  color: #fff;
}
