.filters {
  display: grid;
  width: 90%;
  padding: 15px 35px;
  margin: 10px auto;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  color: #fff;
  margin-bottom: 10px;
}

.icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.icon:hover {
  color: #f7522c;
}

.filter__div {
  width: 100%;
}
.div__filter {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  gap: 15px;
  text-transform: uppercase;
}
.selects {
  display: grid;
}
@media (min-width: 1024px) {
  .selects {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
