.filters {
  display: grid;
  width: 90%;
}

.icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.icon:hover {
  color: #f7522c;
}

.selects {
  display: grid;
}
@media (min-width: 1024px) {
  .selects {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
