.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
}

.type {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.active {
  color: #f7522c !important;
  cursor: not-allowed;
}
.bg {
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 225, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: blur(50px);
}

.colorNormal {
  background-color: #aaa67f;
}
.colorFighting {
  background-color: #c12239;
}
.colorFlying {
  background-color: #a891ec;
}
.colorPoison {
  background-color: #a43e9e;
}
.colorGround {
  background-color: #dec16b;
}
.colorBug {
  background-color: #a7b723;
}
.colorGhost {
  background-color: #70559b;
}
.colorSteel {
  background-color: #b7b9d0;
}
.colorRock {
  background-color: #b69e31;
}

.colorFire {
  background-color: #f57d31;
}
.colorWater {
  background-color: #6493eb;
}
.colorGrass {
  background-color: #74cb48;
}
.colorElectric {
  background-color: #f9cf30;
}
.colorPsychic {
  background-color: #fb5584;
}
.colorIce {
  background-color: #9ad6df;
}
.colorDragon {
  background-color: #7037ff;
}
.colorDark {
  background-color: #75574c;
}
.colorFairy {
  background-color: #e69eac;
}
.colorUnknown {
  background-color: #68a090;
}
.colorShadow {
  background-color: #707070;
}
.colorSteel {
  background-color: #b7b9d0;
}

.check__types {
  display: grid;
  justify-items: center;
  color: white;
}

.label__check {
  display: grid;
  align-items: center;
  gap: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
}
.label__check > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.inputsCheck {
  display: none;
}
//si el input esta checkeado se pone el color de fondo
input:checked + .label__check > img {
  background-color: #f57d31 !important;
}
